<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/collin/location"
            class="org.collin.location.RestServlet"
            load-on-startup="false">
        <init-param name="javax.ws.rs.Application"
    			    value="org.collin.location.RestApplication">
		</init-param>
      </servlet>
   </extension>
 </plugin>